@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

main {
  height: 95vh;
  background-image: linear-gradient(
    140deg,
    #eadedb 0%,
    #fb6d7a 25%,
    #bc70a4 50%,
    #bfd641 75%,
    #0f7394
  );
}
#home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: white;
}
#context {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-height: 700px;
  font-size: 1.4rem;
}
#img {
  height: min(57vh, 75vw);
  margin-left: 65px;
  border-radius: 30px;
  transform: rotate(15deg);
  background-image: url(../../assets/img/eye-img.jpg);
  transition: transform 0.7s ease-in-out;
}
#context a {
	color: rgba(255, 255, 255, 0.8) !important;
	font-weight: bold;
}
#context p {
	font-family: "Ubuntu", sans-serif;
	font-style: normal;
}
#context h1 {
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 2.7rem;
}
#img:hover {
	transform: scale(1.1);
}
#predict-button{
  width: 100%;
}