#contact-block {
  height: 75vh;
  position: relative;
  top: 10vh;
  padding: max(3vw, 3vh);
  border-radius: 25px;
  color: whitesmoke;
  background-color: rgba(0, 0, 0, 0.15);
}
#contact-block > * {
  height: 100%;
}
#contact-block.row {
  gap: 1vw;
}
#contact-form > * {
  margin: auto;
  width: 100%;
}
.submit-message {
  margin: auto;
  margin-top: 50px;
  text-align: center;
}
#contact-preview {
  padding: 1px;
  width: 100%;
  margin:auto;
  border-radius: 25px;
  border: 5px solid black;
  background-color: whitesmoke;
}
#contact-preview-anchor{
  border-radius: 25px;
  transition: box-shadow 0.75s ease-in-out, transform 0.5s ease-in-out;
}
#contact-preview-anchor:hover{
  box-shadow: 0 0 45px whitesmoke;
  transform: scale(1.05);
}